<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/js/bootstrap.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
